<footer><p style="color: aliceblue;">Made by Harsh Gupta</p>
    <a href="https://www.instagram.com/harshhx/"><i class="fab fa-instagram fa-2x"></i></a>
    <a href="https://github.com/harshhx"><i class="fab fa-github fa-2x"></i></a>
    <a href="https://www.linkedin.com/in/harsh-gupta-3ab585122/"><i class="fab fa-linkedin fa-2x"></i></a>
    

</footer>



</body>



</html>