<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="css/styles.css">
    <title>home</title>
</head>
<body>
    <div class="main-div">
        
        
      <h1>Thanks for logging in</h1>
      <p>you have been logged in successfully.You can check the project code at my <a href="https://harshhx.github.io/login-signup">github</a>.</p>
    
    
    </div>

    <footer>Lorem ipsum dolor sit amet.</footer>
</body>



</html>