<%- include("partials/header") %>
    <title>thanks for registering</title>
</head>
<body>
    <div class="main-div">
        
        
      <h1 class="main-heading" style="line-height: 3rem;" >THANKS FOR REGISTRING</h1>
      <p>you have been registered succesfully.Please login to check</p>

      <div class="button-div">
        <a class="abutton button" href="/login" role="button">Login</a>
    </div>
    
    
    
    </div>

    <%- include('partials/footer') %>