<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="css/styles.css">
    <title>home</title>
</head>
<body>
    <div class="main-div">
        
        
      <h1 style="line-height: 2rem;" >THANKS FOR REGISTRING</h1>
      <p>you have been registered succesfully.Please login to check</p>

      <div class="button-div">
        <a class="abutton button" href="/login" role="button">Login</a>
    </div>
    
    
    
    </div>

    <footer>Lorem ipsum dolor sit amet.</footer>
</body>



</html>