<%- include("partials/header") %>
    <title>thanks for login</title>
</head>
<body>
    <div class="main-div">
        
        
      <h1 class="main-heading" style="line-height: 3rem;">Logged in successfully</h1>
      <p>you have been logged in successfully.You can check the project code at my <a href="https://github.com/harshhx/login-signup">github</a>.</p>
    
    
    </div>

    <%- include('partials/footer') %>