<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="css/styles.css">
    <title>home</title>
</head>
<body>
    <div class="main-div">
        
        
      <h1 class="main-heading" >WELCOME</h1>
      <p>Hello! This is a project made by Harsh Gupta in which a user can register to our website and if already registered they may login with their credentials. This is made mainly using MongoDB and ejs</p>
      
    <div class="button-div">
        <a class="abutton button" href="/register" role="button">Register</a>
        <a class="abutton button" href="/login" role="button">Login</a>
    </div>
    
    
    
    </div>

    <footer>Lorem ipsum dolor sit amet.</footer>
</body>



</html>