<%- include("partials/header") %>
    <title>Register</title>
</head>
<body>

    <div class="main-div">
        <h1 class="main-heading" >REGISTER</h1>

        <p style="margin-top: 20px;">Register with us and then you can login using your credentials. <p>


     <form action="/register" method="POST">
        <table>
            
            <tr>
                <td> <label for="username">Email</label></td>
                <td>:</td>
                <td><input type="email" name = "username"></td>
            </tr>
        
            <tr>
                <td><label for="password">password</label></td>
                <td>:</td>
                <td> <input type="password" name = "password"></td>
            </tr>
        
        </table>
       
        
        
       
        <button type="submit" class="button button-div" style="margin-top: 20px;">register</button>
    
    
    </form>
     
    </div>

    <%- include('partials/footer') %>