<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <title>Register</title>
</head>
<body>

    <div class="main-div">
        <h1>REGISTER</h1>

        <p style="margin-top: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, atque!</p>


     <form action="/register" method="POST">
        <table>
            
            <tr>
                <td> <label for="username">Email</label></td>
                <td>:</td>
                <td><input type="email" name = "username"></td>
            </tr>
        
            <tr>
                <td><label for="password">password</label></td>
                <td>:</td>
                <td> <input type="password" name = "password"></td>
            </tr>
        
        </table>
       
        
        
       
        <button type="submit" class="button button-div" style="margin-top: 20px;">register</button>
    
    
    </form>
     
    </div>

    <footer>Lorem ipsum dolor sit amet.</footer>
    
</body>
</html>